doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content=message)
    meta(name='author', content='Aravind Srivatsan')
    meta(name='keywords', content='porfolio,works,aboutme,magicalme,aravind,aravindsrivats')
    title #{title}
    link(rel='icon', type='image/png', href='../assets/favicon.png')
    link(href='../css/app.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
  body
    div.wrapper
      section.explorer
        h1
          span.fa.fa-chevron-down.fa-small.arrow
          span.fa.fa-book
          | magical.me
        nav 
          ul
            li.disabled
              a 
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | .build
            li.disabled
              a  
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | .git
            li#assets
              a
                span.fa.fa-chevron-right.fa-small.arrow
                span.fa.fa-folder
                | assets
              ul
                each project in projects
                  if project.img.length > 0
                    li
                      a(href='#'+project.img.substr(0, project.img.indexOf('.')))
                        span.fa
                        span.fa.fa-file-image-o
                        = project.img
            li
              a(href='#magical-me')
                span.fa
                span.fa.fa-file-text-o
                | magical-me.html
            li
              a(href='#projects')
                span.fa
                span.fa.fa-file-text-o
                | projects.json
            li
              a(href='#readme')
                span.fa
                span.fa.fa-file-text-o
                | about.md
      section.scrolls
        div.title-bar
          ul
            li#magical-me(rel='me')
              | magical-me.html
              span.icon.fa
            li#projects(rel='ps')
              | projects.json
              span.icon.fa 
            li#readme(rel='ab')
              | about.md
              span.icon.fa 
            each project in projects
              li(id=project.img.substr(0, project.img.indexOf('.')), rel='img', data=project.img)
                = project.img
                span.icon.fa
        div.scroll-area
          div.scroll#me
            div.line-num
              p.higher  1
              p 2
              p 3
              p 4
              p 5
              p 6
              p 7
              p 8
              p 9
              p 10
              p 11
              p 12
              p 13
              p 14
              p 15
              p 16
              p 17
              p 18
              p 19
              p 20
            div.general 
              p
                span.tag &lt;!DOCTYPE&gt;
                | #[br]
                span.tag &lt;html&gt;
                | #[br]
                span.tag &lt;head&gt;
                | #[br]
                span.tag &lt;title&gt;
                | magical.me
                span.tag &lt;/title&gt;
                | #[br]
                span.tag &lt;/head&gt;
                | #[br]
                span.tag &lt;body&gt;
                | #[br]
                span.tag &lt;p&gt;
                | I am
                span.tag &lt;span class='title'&gt;
                span.title
                  | aravind srivatsan
                span.tag &lt;/span&gt; 
                | and I develop awesome web applications and stunning mobile apps.  If you have a web/mobile application that requires a golden hand, you've come to the right place.  Take a look around to see my creations.
                span.tag &lt;/p&gt;
                span.tag &lt;br /&gt;
                | #[br]
                span.tag &lt;br /&gt;
                | #[br]
                span.tag &lt;br /&gt;
                | #[br]
                span.tag &lt;p&gt;
                | Find me at:
                span.tag &lt;/p&gt;
                | #[br]
                span.tag &lt;a href='https://www.facebook.com/aravindsrivatsan' class='fa fa-facebook-official'&gt;
                a(href='https://www.facebook.com/aravindsrivatsan' target='_blank')
                  span.fa.fa-facebook-official.fa-lg
                span.tag &lt;/a&gt;
                | #[br]
                span.tag &lt;a href='https://twitter.com/aravindsrivats' class='fa fa-twitter'&gt;
                a(href='https://twitter.com/aravindsrivats' target='_blank')
                  span.fa.fa-twitter.fa-lg
                span.tag &lt;/a&gt;
                | #[br]
                span.tag &lt;a href='https://github.com/aravindsrivats' class='fa fa-github'&gt;
                a(href='https://github.com/aravindsrivats' target='_blank')
                  span.fa.fa-github.fa-lg
                span.tag &lt;/a&gt;
                | #[br]
                span.tag &lt;br /&gt;
                | #[br]
                span.tag &lt;p&gt;
                | Write to me:
                span.tag &lt;/p&gt;
                | #[br]
                span.tag &lt;a href='mailto:aravindsrivats@gmail.com' class='fa fa-envelope-o'&gt;
                a(href='mailto:aravindsrivats@gmail.com' target='_blank')
                  span.fa.fa-envelope-o.fa-lg
                span.tag &lt;/a&gt;
                | #[br]
                span.tag &lt;/body&gt;
                | #[br]
                span.tag &lt;/html&gt;
          div.scroll#ps
            div.line-num
              p 1
              p 2
              p 3
              p 4
              p 5
              p 6
              p 7
              p 8
              p 9
              p 10
              p 11
              p 12
              p 13
              p 14
              p 15
              p 16
              p 17
              p 18
              p 19
              p 20
              p 21
              p 22
              p 23
              p 24
              p 25
              p 26
              p 27
              p 28
              p 29
              p 30
              p 31
              p 32
              p 33
              p 34
              p 35
              p 36
              p 37
              p 38
              p 39
              p 40
              p 41
              p 42
              p 43
              p 44
              p 45
            div.general 
              p
                | [
                each project, index in projects
                  | {
                  | #[br]
                  span.json-var
                    | "title": "
                    span.value
                      = project.title
                    | ",
                  | #[br]
                  span.json-var
                    | "description": "
                    span.value
                      = project.description
                    | ",
                  | #[br]
                  span.json-var
                    | "image": "
                    a(href='#'+project.img.substr(0, project.img.indexOf('.'))).project-image
                      span.value
                        = project.img
                    | ",
                  | #[br]
                  span.json-var
                    | "link": "
                    a(href=project.url target='_blank')  
                      span.value
                        = project.url
                    | "
                  | #[br]
                  | },  
                | ]
          div.scroll#img
            div.general
              img#display
          div.scroll#ab
            div.line-num
              p 1
              p 2
              p 3
              p 4
              p 5
              p 6
              p 7
              p 8
              p 9
              p 10
              p 11
              p 12
              p 13
              p 14
              p 15
              p 16
              p 17
              p 18
              p 19
              p 20
              p 21
              p 22
              p 23
            div.general 
              p
                span.md # about
                | #[br]
                | #[br]
                span.md ### who am i?
                | #[br]  
                | aravind srivatsan
                | #[br]  
                | homo sapien, male, 22
                | #[br]  
                | based out of Chennai, India
                | #[br]  
                | currently working in PayPal during the day and freelancing in the night
                | #[br]
                | #[br]
                span.md ### what do i do?
                | #[br]  
                | like the other page said, I develop web and mobile applications.
                | #[br]  
                | sometimes play the keyboard
                | #[br]  
                | and 
                span.md 
                  i _other_ 
                | sometimes dance (but not together)
                | #[br]  
                | watch a lot of movies and tv series
                | #[br]  
                | #[br]  
                span.md ### what's this?
                | #[br]
                | after about 3 iterations of designs I couldn't decide which one to go with. and then one day, I just liked 
                span.md [
                | atom.io's
                span.md ] 
                span.md-link 
                  | ( 
                  a(href='https://atom.io' target='blank') https://atom.io 
                  | ) 
                | UI (atom-material theme) and I started designing based on its design and here's the result.  
                | #[br]
                | #[br]
                span.md ### links
                | #[br]
                span.md [
                | atom-material-ui
                span.md ] 
                span.md-link
                  | (
                  a(href='https://atom.io/themes/atom-material-ui' target='blank') https://atom.io/themes/atom-material-ui
                  | )
                | #[br]
                span.md [
                | an-old-hope-syntax
                span.md ] 
                span.md-link 
                  | (
                  a(href='https://atom.io/themes/an-old-hope-syntax' target='blank') https://atom.io/themes/an-old-hope-syntax
                  | )  
                | #[br]
                span.md [
                | github source
                span.md ] 
                span.md-link 
                  | (
                  a(href='https://github.com/aravindsrivats/magicalme' target='blank') https://github.com/aravindsrivats/magicalme
                  | ) 
          br(clear='all')
        div.status
          p.left
            span#path
          p.right
            span LF  UTF-8  
            span#file-type
            span.fa.fa-code-fork
            | master
    script(src='http://code.jquery.com/jquery-1.12.0.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js', type='text/javascript')
    script(src='../js/app.js' type='text/javascript')
